*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

.header {
  background-color: #212529;
  min-height: 20px;
  min-width: 100%;
}

body {

  background-color: #7f7053;
  margin: 0;
  padding: 0;
 }

a {
  color: #212529;
}

.container {
max-width: 1900px;
margin: 0 auto;

}

.navbar-top {
  
  padding-top: 20px;
  padding-bottom: 20px;
}

.accordion-button:hover {
  color: #212529;
}

.special {
  display: block;
  text-decoration: none;
  color: #212529;
}

.date {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  background-color: #4e4533;
  border: 1px solid black;
}

.tour-language {
  display: block;
  min-width: 200px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
